ENVIRONMENT="LOCAL"

# Postgres
DB_DRIVER=postgresql+asyncpg
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=6432
POSTGRES_DB=parking

# Grafana (используется в compose.prod.yaml, env_file: .env.prod)
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
